<style>
  legend{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .formulario_sistema{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
  }
  .formulario_sistema_fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .formulario_sistema_fieldset div{
    margin-bottom: 10px;
  }
  label{
    display: inline-block;
    width: 100px;
  }
  input[type="submit"]{
    margin-top: 15px;
    border-radius: 5px;
    background-color: #FF6471;
    border: none;
    padding: 5px;
    color: white;
  }
</style>
<form action="/sistemaAdmin/registrar_cliente" method="post" class="formulario_sistema">
    <fieldset class="formulario_sistema_fieldset">
      <legend>Registrar Cliente</legend>
      <div>
        <label for="nombre">
          Nombre: 
          <abbr title="required" aria-label="required">*</abbr>
        </label>
        <input type="text" maxlength="50" name="nombre" required />
      </div>
      <div>
        <label for="apellido_paterno">
          Apellido Paterno: 
          <abbr title="required" aria-label="required">*</abbr>
        </label>
        <input type="text" maxlength="50" name="apellido_paterno" required />
      </div>
      <div>
        <label for="apellido_materno">
          Apellido Materno:
          <abbr title="required" aria-label="required">*</abbr>
        </label>
        <input type="text" maxlength="50" name="apellido_materno" required />
      </div>
      <div>
        <label for="ci">
          CI:
          <abbr title="required" aria-label="required">*</abbr>
        </label>
        <input type="text" maxlength="12" name="ci" required />
      </div>
      <div>
        <input type="submit" value="Registrar Cliente">
      </div>
    </fieldset>
  </form>